@{
    ViewBag.Title = "Map";
}

<aside>
    <div id="tocTabs">
        <ul>
            <li><a href="#legendTab">Legend</a></li>
            <li><a href="#basemapsTab">Basemaps</a></li>
        </ul>
        <div id="legendTab">
            <div id="legendDiv"></div>
        </div>
        <div id="basemapsTab">
            <div id="basemapsDiv"></div>
        </div>
    </div>
</aside>

<article>
    <div id="mapDiv"></div>
</article>
